<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="User/base.html :: headerfiles">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1 class="alert alert-success">Registrasi berhasil!</h1>
        <p>Setelah 5 detik, anda akan diarahkan ke halaman login!</p>
        <a th:href="@{/login}">Login</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script th:src="@{~/js/popper/popper.min.js}"></script>
    <script th:src="@{~/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{~/js/account/registerSuccess.js}"></script>
</body>
</html>